---
import { getCollection, render } from "astro:content";
import BaseHead from "../../components/shared/BaseHead.astro";
import { BLOG_TITLE } from "../../consts";
import Navbar from "../../components/blog/NavBar.astro";
import { formatMarkdownPost } from "../../utils";
import MarkdownLayout from "../../components/blog/MarkdownLayout.astro";
import BlogFooter from "../../components/blog/BlogFooter.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  console.log(
    posts.map((post) => ({
      params: { id: post.id.split("/").pop() },
      props: { post },
    })),
  );

  return posts.map((post) => ({
    params: { id: post.id.split("/").pop() },
    props: { post },
  }));
}

const { post } = Astro.props;
const formatttedPost = formatMarkdownPost(post);
const rendered = await render(post);
const Content = rendered.Content;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead
      title={`${BLOG_TITLE} | ${formatttedPost.title}`}
      description={formatttedPost.tldr}
    />
  </head>

  <body
    class="bg-primary-900 text-body dark:bg-primary-dark-900 dark:text-body-dark"
  >
    <Navbar />

    <main class="p-4 max-w-4xl m-auto">
      <a
        href="/blog"
        class="text-blue-600 dark:text-blue-400 hover:underline flex items-center gap-2 mb-4"
      >
        ⬅ Back
      </a>

      <MarkdownLayout>
        <Content />
      </MarkdownLayout>
    </main>

    <BlogFooter>
  </body>
</html>
