@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
h1, h2 {
    color:#2bc9ed;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid DimGray;
}

th, td {
  text-align: left;
  padding: 1em;
}

body {
  font-family: 'Inter', sans-serif;
  text-align: justify;
}
