<div class="flex w-full flex-row justify-center pb-4">
    <a
        href="https://wa.link/ba0u44"
        target="_blank"
        class="hover:scale-110 m-2 w-12"
    >
        <img
            alt="WhatsApp"
            src="assets/contact/whatsapp.webp"
            title="Go to Whatsapp"
        />
    </a>
    <a
        href="https://github.com/hvkalayil"
        target="_blank"
        class="hover:scale-110 m-2 w-12"
    >
        <img
            alt="GitHub"
            src="assets/contact/github.webp"
            title="Go to GitHub"
        />
    </a>
    <a
        href="https://teams.microsoft.com/l/chat/0/0?users=1924770@tcs.com"
        target="_blank"
        class="hover:scale-110 m-2 w-12"
    >
        <img alt="Teams" src="assets/contact/teams.webp" title="Go to Teams" />
    </a>
    <a
        href="https://www.hackerrank.com/hoseakalayil"
        target="_blank"
        class="hover:scale-110 m-2 w-12"
    >
        <img
            alt="HackerRank"
            src="assets/contact/hackerrank.webp"
            title="Go to HackerRank"
        />
    </a>
    <a
        href="https://www.linkedin.com/in/hosea-varghese-693503121/"
        target="_blank"
        class="hover:scale-110 m-2 w-12"
    >
        <img
            alt="LinkedIn"
            src="assets/contact/linkedin.webp"
            title="Go to LinkedIn"
        />
    </a>
</div>

<!-- Footer -->
<div class="w-full font-thin mx-1 pb-8 text-center text-sm tracking-tighter">
    (Icons by
    <a
        href="https://iconscout.com/contributors/icon-mafia"
        target="_blank"
        class="underline cursor-pointer"
        >Icon Mafia
    </a>
    and
    <a
        href="https://iconscout.com/contributors/icon-54"
        target="_blank"
        class="underline cursor-pointer"
        >Icon 54
    </a>
    on
    <a
        href="https://iconscout.com"
        target="_blank"
        class="underline cursor-pointer"
        >Iconscout
    </a>)
</div>