---
import { getCollection } from "astro:content";
import WorkCard from "./WorkCard.astro";

const works = await getCollection("works");
works.sort((a, b) => b.data.sortOrder - a.data.sortOrder);
---

<div class="body-container" id="worksPage">
    <div class="columns-1 md:columns-2 gap-4 w-full h-fit block">
        {works.map((work) => <WorkCard project={work} />)}
    </div>
</div>
