---
const year = new Date().getFullYear();
---
<footer>
    <div
        class="flex justify-center items-center h-16 bg-primary-800 text-white"
    >
        <p>© {year} Optimal.dev</p>
    </div>
</footer>
