<section
    class="relative w-full h-screen flex flex-col items-center justify-center text-center"
>
    <img
        src="/assets/blog/hero.webp"
        alt="Developer struggling to center a div"
        class="absolute inset-0 w-full h-full object-cover opacity-80 brightness-75 contrast-125"
    />

    <div
        class="relative z-10 bg-white/80 dark:bg-black/80 rounded-lg shadow-lg w-full h-screen text-center flex flex-col justify-center"
    >
        <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">
            Welcome to Optimal.dev
        </h1>
        <p class="text-lg text-gray-700 dark:text-gray-300 mt-2">
            99% of optimization is fixing what you over-optimized last time.
        </p>
    </div>
</section>
