---
import ThemeButton from "../shared/ThemeButton.svelte";
---

<nav
    class="flex w-full bg-sidebar dark:bg-sidebar-dark h-fit justify-between p-4 text-center items-center sticky top-0 z-30 backdrop-blur-lg shadow-md"
    id="sidebar"
>
    <a href="/">
        <div class="hidden md:block">
            <img alt="HVK" src="/logo.png" class="2xl:w-20 m-auto w-14" />
        </div>
    </a>

    <a href="/blog">
        <div class="flex flex-col justify-center">
            <h1 class="font-hero text-accent-900/80 text-2xl md:text-5xl">
                Optimal.dev
            </h1>
            <h5 class="hidden md:block">
                Still optimizing this title... Check in later
            </h5>
        </div>
    </a>

    <div>
        <ThemeButton
            className="themeToggler btn-theme block"
            client:only="svelte"
        />
    </div>
</nav>
